---
---

:root {
    --col-text-dark: #000;
    --col-text-light: #fff;
    --col-orange: #ff6d00;
    /* --col-blue: #01a7bf; */
    --col-content-title: rgb(32, 120, 144);
    --col-nav-url: rgb(68, 68, 68);
    --col-content-url: rgb(90, 158, 222);
    --col-gray: #313131;
    --col-light-gray: #f7f7f7;
}

p, h1, h2, h3, h4, h5, h6 {
    /* font-family: 'Helvetica Neue', Helvetica, Calibri, Arial, sans-serif; */
    font-family: Lato, Verdana, Helvetica, sans-serif;
    color: var(--col-text-dark);
    margin: 0;
    padding: 0;
}

html {
    background-color: var(--col-light-gray);
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
}

h1 {
    color: var(--col-conten-title);
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    /* margin: 25px 0; */
}

h2 {
    color: var(--col-conten-title);
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px;
    /* margin: 25px 0; */
}

h3 {
    color: var(--col-conten-title);
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 20px;
    /* margin: 25px 0; */
}

h4 {
    color: var(--col-conten-title);
    font-size: 18px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 20px;
    /* margin: 25px 0; */
}
h2, h3, h4 {
    /* margin-top: 25px; */
    /* margin-bottom: 5px; */
}

p {
    /* font-size: 15px; */
    /* margin-bottom: 1em; */
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 300;
    box-sizing: border-box;
}

a, a:visited, a:hover {
    /* color: var(--col-orange); */
    color: var(--col-content-url);
    text-decoration: none;
    font-weight: 400;
}

ul, ol {
    margin: 5px 0 24px 25px;
}

table {
    box-sizing: border-box;
    display: block;
    min-width: 100%;
    max-width: fit-content;
    height: auto;
    margin: 0;
    margin-bottom: 24px;
    padding: 0;
    border: 0;
    border-collapse: collapse;
    overflow-x: scroll;
}

th, td {
    border: 1px solid;
    padding: 5px 1ch;
    border-collapse: collapse;
}

th {
    color: var(--col-text-light);
    background-color: var(--col-gray);
}

tr:nth-child(even) {
    background-color: var(--col-light-gray);
}

#main {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
}

#mainContent {
    box-sizing: border-box;
    width: 100%;
    align-self: stretch;
    padding: 2em calc((100% - 80ch) / 2) 1em;
    margin: 0;
    overflow: scroll;
}

.content {
    padding: 0 1em;
}

// Nav
nav {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 1px 10px;
    background-color: var(--col-light-gray);
}

#navHome {
    font-size: 30px;
    font-weight: bold;
    color: var(--col-blue);
    text-decoration: none;
}

#navHome img {
    width: 150px;
}

#navLinks {
    list-style: none;
}

#navLinks li {
    display: inline-block;
    /* margin-left: 10px; */
}

#navLinks a {
    text-decoration: none;
    color: var(--col-nav-url);
    font-size: 16px;
    line-height: 22px;
    padding: 10px;
    font-weight: 300;
}

#faq-body {
    line-height: 24px;
    h2, h3, h4, h5, h6 {
        padding-top: 1em;
    }
}

pre, code {
  font-family: Consolas, "Courier New";
  font-size: 13px;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  background-color: #eef;
}

code {
  padding: 1px 5px;
}

pre {
  padding: 8px 12px;
  overflow-x: auto;
}

pre > code {
  border:0;
  padding-right: 0;
  padding-left: 0;
}
